.info-block{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 4rem;
}

.info-text-section {
  flex: 1;
  text-align: left;
}

.info-text {
  display: grid;
  gap: 0;
}

.info-text-section h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.info-text-section p {
  font-size: 0.7rem;
  line-break: loose;
  margin-bottom: 0;
}

.info-image-section {
  margin: 5rem 2rem 2rem 2rem;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}