.switch {
  border-radius: 1rem;
  position: relative;
  margin-bottom: -5rem;
  content: "";
  height: auto;
  width: fit-content;
  background-color: var(--text-color);

  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

.switch .state1, .switch .state2 {
  color: var(--secondary-color);
  border-radius: 1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  height: auto;
  width: auto;
  text-align: center;
  transition: all .5s ease;
}

.switch .state1.active {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.switch .state2.active {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

