.admin-header::after {
    content: "";
    display: block;
    clear: both;
    width: 80%;
    height: 0.2rem;
    background-color: var(--text-color);
    margin: 0.5rem auto;
}

.sections {
  display: flex;
  justify-content: space-between;
  margin: 2rem 10rem;

}

.custom-link {
  color: var(--text-color);
  text-decoration: none;

}

.custom-link h2 {
  padding: 0.5rem 1rem;
  border: solid 2px var(--text-color);
  border-radius: 1rem;
  transition: all 0.3s;
}

.custom-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.custom-link:hover h2 {
  background-color: var(--secondary-color);
}