.editable {
  cursor: text;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 5rem 5rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--secondary-color);
  height: 10rem;
}

.highlight {
  color: green;
}