.slideshow {
    text-align: left;
}

.slideshow h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 4.5rem;
}

.slideshow p {
    font-size: 0.7rem;
    margin-left: 4.5rem;
}


.slideshow-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--text-color);
    padding: 3rem;
}

.images-container {
    display: flex;
    gap: 4rem;
}

.image-placeholder {
    width: 15rem;
    height: 15rem;
    background-color: var(--secondary-color);
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--background-color);
}