.content-edit {
  margin: 5rem 15rem;
  padding: 0.5rem 5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
  border-radius: 1rem;

}

.top-section-options {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.icon-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevron-closed {
  transform: rotate(0deg);
  transition: transform 0.5s;
  margin: 1rem;
  cursor: pointer;
}

.chevron-open {
  transform: rotate(90deg);
  transition: transform 0.5s;
  margin: 1rem;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  margin: 1rem;
}

.delete-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
  border-radius: 1rem;
}

.delete-options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.delete-options h3:first-child {
  margin: 0;
  color: red;
  cursor: pointer;
}

.delete-options h3:nth-child(2) {
  margin: 0;
  color: green;
  cursor: pointer;
}

.edit-icon {
  cursor: pointer;
  margin: 1rem;
}

.save-icon {
  cursor: pointer;
  margin: 1rem;
}

.cancel-icon {
  cursor: pointer;
  margin: 1rem;
}

.save-icon.not-edit {
  display: none;
}

.cancel-icon.not-edit {
  display: none;
}

.edit-icon.active-edit {
  display:none
}

.null-del-box {
  display: none;
}

.closed {
  display: none;
}