.editable {
  cursor: text;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0 15rem;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--secondary-color);
  height: 10rem;
  width: 60%;

  white-space: pre-line;
  display:inline-block;
  text-align: start;
}

.highlight {
  color: green;
}

.add-btn{
  margin: 1rem 0;
  cursor: pointer;
}